# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
convert.sh
deploy.sh

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.htaccess

npm-debug.log*
yarn-debug.log*
yarn-error.log*