:root {
  --main-font: 'Open Sans';
  --title-font: 'Berkshire Swash';
  --text-color-0: #000000;
  --text-color-1: #000000;
  --text-color-1: #000000;
  --text-color-2: #000000;
  --text-color-3: #000000;
  --text-color-4: #000000;
  --text-color-5: #000000;
  --border-radius: 1vmin;
  --header-color: #171515;
  --off-white: #a6a6a6;
  --off-black: #191919;
  --off-blue: hsl(198, 69%, 79%);
  --action-color: #f3d8be;
  --action-color-dark: #362e27;

  --border-filter: 0;

  --header-height: 0vw;
  --footer-height: calc(var(--header-height) * 2);

  --section-header-height: calc(var(--header-height) * 1.25); 
  --section-footer-height: calc(var(--header-height) * 1.25);

  --shift-speed: 0ms;

  --header-shadow: 0 0 calc(var(--header-height) * 0.1) rgba(0,0,0,0.75);
  --footer-shadow: 0 0 calc(var(--header-height) * 0.1) rgba(0,0,0,0.75);
  --button-color: #212121;
  --selected-button-color: #213421;
  --selected-button-border-color: #212c21;
  --button-gradient: linear-gradient(var(--button-color), #303030);
  --selected-button-gradient: linear-gradient(var(--selected-button-color), #2b402b);

  --button-shadow: 0 0 calc(var(--header-height) * 0.05) #050505;
  --arrow-color: rgb(182, 177, 177);
  --title-text-color: #403c4f;
  --main-text-color: #282828;

  --main-font-size: 1rem;
  --headline-font-size: calc(var(--main-font-size) * 1.25);
  --title-font-size: calc(var(--main-font-size) * 2.25);
  /* --main-font-size: 3.5vw; */
  /* --title-font-size: 16vw; */

  /* set by js */
  --aspect-ratio: 0;
  /*  */
  --paper-margin: 2vh;
  --paper-height: calc(var(--section-height) - var(--paper-margin));
  --card-radius: 0.25rem;

  --main-width: 100%;

}
* {
  box-sizing: border-box;
  user-select: none;
}
html {
  position: fixed; /* for iOS to prevent bouncy scroll */
  overflow: auto; /* for iOS to work */
  overscroll-behavior: none;
  font-size: 15px;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
body {
  --hamburger-height: calc(var(--header-height) * 0.75);
  margin: 0;
  padding: 0;
  font-family: var(--main-font), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--header-color);
  width: 100vw;
  min-height: var(--view-height);
  display: flex;
  align-items: center;
}
a {
  color: rgb(122, 122, 255);
}
p {
  font-size: var(--main-font-size);
}
ul {
  margin: unset;
  padding: 0 5vw;
}
li {
  font-size: 1rem;
}
header {
  font-family: var(--title-font);
  /* font-size: calc(var(--header-height) / 1.4); */
}
.fa {
  padding: 0 !important;
  margin: 0 !important;
}
.flipped-x {
  transform: scaleX(-1);
}
@keyframes move-logo {

}
@keyframes bob {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(30%);
  }
}
@keyframes pulse-text {
  0% {
    color: #666;
  }
  100% {
    color: #894949;
  }
}
@keyframes pulse-text-wide {
  0% {
    color: #64606f;
    /* color: var(--text-color-0); */
  }
  50% {
    color: #6a948c;
  }
  100% {
    color: #5d557e;
  }
}
@keyframes pulse-text-action {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes raise-monocle {
  0% {
    transform: translateY(6%) rotate(12deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1
  }
}
@keyframes wag {
  0% {
    transform: rotate(0deg) translateX(0);
  }
  100% {
    transform: rotate(0.25deg) translateX(-0.1vw);
  }
}
@keyframes wave {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (orientation: landscape) {
  :root {
    --main-width: 720px;
    --main-width: calc(var(--view-height) - var(--header-height) - var(--footer-height));
    --section-header-height: var(--header-height);
    --section-footer-height: calc(var(--header-height) * 1.5);
    --footer-height: calc(var(--header-height) / 1.5);
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: orange; */
    
  }
}
