:root {
  --main-font: 'Open Sans';
  --title-font: 'Tangerine';
  --hamburger-radius: 0.5vmin;
  --border-radius: 1vmin;
  --header-color: #171515;
  --background-color: #b2c0dc;

  --header-height: 16vw;
}
* {
  box-sizing: border-box;
  user-select: none;
}
i {
  color: black !important;
}
i:link {
  text-decoration: none;
}
body {
  margin: 0;
  font-family: var(--main-font), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 200vh;
  background-color: var(--background-color);
}
.pulsing-text {
  animation: pulse-text infinite 2s ease;
  animation-direction: alternate;
  margin-top: calc(var(--header-height) / 2);
  margin-bottom: calc(var(--header-height) / 2);
}
.pulsing-text:last-of-type {
  animation-direction: alternate-reverse;
}
@keyframes pulse-text {
  0% {
    color: #666;
    transform: scaleX(1.1);
    letter-spacing: initial;
  }
  50% {
    letter-spacing: 100%;
  }
  100% {
    color: rgb(137, 73, 73);
    transform: scale(1);
    letter-spacing: initial;
  }
}

@media screen and (orientation: landscape) {
  :root {
    --header-height: 4.5rem;
  }
}
