:root {
  --main-font: 'Open Sans';
  --title-font: 'Tangerine';
  --background-color: #98b1a9;
  --background-color-2: #b2c0dc;
  --border-radius: 1vmin;
  --header-color: #171515;

  --header-height: 15vw;
  --footer-height: calc(var(--header-height) * 0.8);
}
* {
  box-sizing: border-box;
  user-select: none;
}
body {
  margin: 0;
  font-family: var(--main-font), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
img {
  width: 60vmin;
}
.fa-instagram {
  transform: scale(1.15); 
}
@keyframes bob {
  0% {
    transform: none;
  }
  100% {
    transform: translateY(12%);
  }
}
@keyframes pulse-text {
  0% {
    color: #666;
  }
  100% {
    color: rgb(137, 73, 73);
  }
}
@keyframes pulse-text-wide {
  0% {
    color: rgb(100, 96, 111);
  }
  50% {
    color: rgb(39, 61, 57);
  }
  100% {
    color: rgb(86, 73, 137);
  }
}
@media screen and (orientation: landscape) {
  :root {
    --header-height: 4.5rem;
  }
}
